<!-- <p>rama works!</p> -->
<!-- <h1>Hello rama</h1> -->
<!DOCTYPE html>
<html>
<head>
<style>
h1 {
  color: blue;
  font-family: verdana;
  font-size: 300%;

}
p  {
  color: red;
  font-family: courier;
  font-size: 160%;
}
</style>
</head>
<body>

<h2>Rama Site</h2>
<p>Things to Do in Bengaluru</p>
<h3>1. Bangalore Palace</h3>
    A palace inspired by Windsor Castle in England, with distinct Tudor style. 
    
   <h3>2. Ulsoor Lake</h3>  
     Located in the heart of the city, Ulsoor Lake is one of the largest lakes in Bangalore spanning an area of over 120 acres. 
    
     <h3>3. Government Museum</h3>
    Established in 1865, the Government Museum is one of the oldest museums in India.
    
    <h3>4. Tipu Sultan’s Summer Palace</h3>
     The summer abode of the former ruler of Mysore, Tipu Sultan.
    
     <h3>5. ISKCON Temple</h3>
    Perched on Hare Krishna Hill, this is a Hindu temple dedicated to Lord Krishna.
    
    <h3>6. KR Market</h3> 
    One of the largest flower markets in Asia.
    
    <h3>7. Bull Temple</h3>
     A sixteenth-century Hindu temple dedicated to Nandi, the bull.
    
     <h3>8. Visvesvaraya Industrial and Technological Museum</h3>
    A science and technology museum, located just metres away from the Government Museum.
    

    <h3>9. Janapada Loka</h3>
     A folk museum where you’ll learn about Bangalore’s fascinating history.
    
     <button 
     > Rooms </button>

</body>
</html>

