<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <!-- <jsw-app-nav></jsw-app-nav> -->
    <!-- <jsw-user-login> </jsw-user-login> -->
    <!-- <jsw-test></jsw-test> -->

    <router-outlet></router-outlet>
  </body>
</html>
<!-- <jsw-rooms></jsw-rooms> -->
<!-- <a routerLink="rooms">Rooms</a>
<a routerLink="chapter">Chapter</a>
<a routerLink="rama">Rama</a> -->

<!-- <router-outlet></router-outlet> -->
