<!-- <p>rooms-booking works!</p> -->
<form>
    <h4>roomTypes</h4>
    <div class="form-group">
        <input class="form-control" type="text" name="roomTypes" placeholder="Room type (eg=single)"/>
    </div>

    <h4>Amenites</h4>
    <div class="form-group">
        <input class="form-control" type="text" name="amenities" placeholder="wifi,AC,etc"/>
    </div>

    <h4>Price</h4>
    <div class="form-group">
        <input class="form-control" type="text" name="price" placeholder="in INR(800rs-6000rs)"/>
    </div>

    <h4>Checkin</h4>
    <div class="form-group">
        <input class="form-control" type="text" name="Checkin" placeholder="Date"/>
    </div>

    <h4>checkout</h4>
    <div class="form-group">
        <input class="form-control" type="text" name="checkout" placeholder="Date"/>
    </div>

    <!-- <div class="form-group">
        <input class="form-control" type="text" name="roomTypes"/>
    </div> -->

    <div >
        <button class="btn btn-primary"
        > Submit </button>

    </div>


</form>

